*
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

html, html a 
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
	
body
	background-color #666

.cell
	border 1px solid red
	background-color #999
	text-align center
	
.pure-img
	width: 100%