doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Flacoloco bootstrap for simple HTML5 projects
		link(rel="stylesheet", href="/css/styles.css")

	body
		h1 HELLO WORLD
		script(type='text/javascript' src="/js/main.js").
